Package: climate-tokenization-engine
Version: {{ CLIMATE_TOKENIZATION_ENGINE_VERSION }}
Architecture: {{ PLATFORM }}
Maintainer: Chia Network Inc <hello@chia.net>
Description: Climate Tokenization Engine
Homepage: https://github.com/Chia-Network/climate-tokenization-engine
